<footer class="bg-color-fc pt-80">
  <div class="container">
    <div class="text-center mb-4">
      <img width="" height="" src="{{ 'footer_logo.svg' | asset_url }}" alt="">
    </div>
    <p
      class="font-18 text-color-2a text-center pb-40 border-bottom border-color-e7"
    >
      At Skinnify, we believe getting fit shouldn’t mean turning your life upside down. That’s why we created a smarter,
      <br>
      more sustainable way to tone up—without the stress of strict diets or intense workout routines.
    </p>

    <ul
      class="d-sm-flex flex-sm-wrap text-center gap-48 py-48 justify-content-center list-unstyled border-bottom border-color-e7"
    >
      <li class="mb-2 mb-sm-0">
        <a class="font-16 text-color-1b text-decoration-none" href="#"> All Products </a>
      </li>
      <li class="mb-2 mb-sm-0">
        <a class="font-16 text-color-1b text-decoration-none" href="#"> Leggings </a>
      </li>
      <li class="mb-2 mb-sm-0">
        <a class="font-16 text-color-1b text-decoration-none" href="#"> Pants </a>
      </li>
      <li class="mb-2 mb-sm-0">
        <a class="font-16 text-color-1b text-decoration-none" href="#"> Tops </a>
      </li>
      <li class="mb-2">
        <a class="font-16 text-color-1b text-decoration-none" href="#"> Shoes </a>
      </li>
    </ul>

    <div
      class="social_payment gap-4 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between py-24 border-bottom border-color-e7"
    >
      <div class="social">
        <ul class="list-unstyled d-flex flex-wrap gap-4 mb-2 mb-lg-2">
          <li>
            <a href="#" class="text-decoration-none">
              <img width="" height="" src="{{ 'icon_fb.svg' | asset_url }}" alt="Facebook">
            </a>
          </li>
          <li>
            <a href="#" class="text-decoration-none">
              <img width="" height="" src="{{ 'icon_instagram.svg' | asset_url }}" alt="Instagram">
            </a>
          </li>
        </ul>
      </div>
      <div class="payment">
        <ul
          class="list-unstyled d-flex flex-wrap gap-4 justify-content-center"
        >
          <li>
            <img width="" height="" src="{{ 'payment_1.svg' | asset_url }}" alt="Visa">
          </li>
          <li>
            <img width="" height="" src="{{ 'payment_2.svg' | asset_url }}" alt="MasterCard">
          </li>
          <li>
            <img width="" height="" src="{{ 'payment_3.svg' | asset_url }}" alt="PayPal">
          </li>
          <li>
            <img width="" height="" src="{{ 'payment_4.svg' | asset_url }}" alt="PayPal">
          </li>
          <li>
            <img width="" height="" src="{{ 'payment_5.svg' | asset_url }}" alt="PayPal">
          </li>
          <li>
            <img width="" height="" src="{{ 'payment_6.svg' | asset_url }}" alt="PayPal">
          </li>
        </ul>
      </div>
    </div>

    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between py-24"
    >
      <p class="d-none d-lg-block">
        &copy;
        <span id="copyright">
          <script>
            document
              .getElementById("copyright")
              .appendChild(
                document.createTextNode(new Date().getFullYear())
              );
          </script>
        </span>
        Skinnify Powered by Shopify
      </p>

      <ul
        class="d-sm-flex flex-sm-wrap text-center list-unstyled py-3 py-lg-0"
      >
        <li class="mb-2 mb-sm-0 me-3 pe-3">
          <a class="font-16 text-color-1b text-decoration-none" href="#"> Imprint </a>
        </li>
        <li class="mb-2 mb-sm-0 me-3 pe-3">
          <a class="font-16 text-color-1b text-decoration-none" href="#"> Refund Policy </a>
        </li>
        <li class="mb-2 mb-sm-0 me-3 pe-3">
          <a class="font-16 text-color-1b text-decoration-none" href="#"> Shipping Policy </a>
        </li>
        <li class="mb-2 mb-sm-0 me-3 pe-3">
          <a class="font-16 text-color-1b text-decoration-none" href="#"> Terms of Service </a>
        </li>
        <li class="mb-2 mb-sm-0 me-3 pe-3">
          <a class="font-16 text-color-1b text-decoration-none" href="#"> Privacy Policy </a>
        </li>
      </ul>

      <p class="d-block d-lg-none">
        &copy;
        <span id="copyright">
          <script>
            document
              .getElementById("copyright")
              .appendChild(
                document.createTextNode(new Date().getFullYear())
              );
          </script>
        </span>
        Skinnify Powered by Shopify
      </p>
    </div>
  </div>
</footer>
